body
{
  background-color: gray;
  text-align: center;
}
h1
{
  text-shadow: -1px 5px  10px red, 5px -1px 10px blue, -5px -5px 8px green;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1::before
{
  content: "֍~--~";
}
h1::after
{
  content: "~--~֎";
}
#intro_header
{
  text-shadow: 0px 0px 5px goldenrod;
  /**/
}
h2::before
{
  content: "*~-";
}
h2::after
{
  content: "-~*";
}
#second_header
{
  text-shadow: 0px 0px 5px violet;
}
.intro
{
  font-family: Roboto, Consolas, 'Segoe UI','Open Sans',sans-serif;
}
.second_part
{
  font-family: 'Helvetica Nue', Helvetica, Arial, sans-serif;
}
#bucket_img
{
  width: 300px;
}