body
{
  background-color: gray;
  text-align: center;
}
h1
{
  text-shadow: -1px 5px  10px red, 5px -1px 10px blue, -5px -5px 8px green;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
}
h2
{
  text-shadow: 0px 0px 5px goldenrod;
  /**/
}
p.intro
{
  font-family: 'Helvetica Nue', Helvetica, 'Open Sans',Roboto, 'Segoe UI',sans-serif;
}
.bucket_img
{
  width: 300px;
}
